Flask==3.1.2
matplotlib==3.10.8
streamlit
requests==2.32.5
seaborn==0.13.2
pandas==2.3.3
numpy==1.26.4
lightgbm==4.6.0
scikit-learn==1.8.0
shap==0.46.0
gunicorn
pytest==9.0.2
evidently==0.4.15
pyarrow==14.0.1